<leaflet-map #leafletMap
             [routePoints]="routePoints"
             (pointModifiedByMap)="handlePointAddedFromMap($event)">
</leaflet-map>

<div class="planner-panel">
  <div class="panel-header">
    <h2>Zaplanuj podróż</h2>
  </div>
  <form [formGroup]="form">

    <city-autocomplete
      label="Początek trasy"
      placeholder="Wybierz miasto początkowe"
      [control]="fromFormControl"
      [cityOptions$]="filteredFromCities$"
      (optionSelected)="handleSelectedCity($event, 'start')">
    </city-autocomplete>

    <div formArrayName="middlePoints" *ngIf="middlePointsFormArray.length > 0">
      <div
        cdkDropList
        [cdkDropListData]="middlePointsFormArray.controls"
        (cdkDropListDropped)="dropMiddlePoint($event)"
        class="drag-drop"
      >
        <div
          class="middle-point"
          *ngFor="let ctrl of middlePointsFormArray.controls; let i = index"
          cdkDrag
        >
          <mat-icon cdkDragHandle style="cursor:move; margin-right: 8px;">drag_indicator</mat-icon>

          <city-autocomplete
            [label]="'Punkt pośredni ' + (i + 1)"
            placeholder="Wybierz miasto pośrednie"
            [control]="ctrl"
            [cityOptions$]="filteredMiddlePointCities$[i]"
            (optionSelected)="handleSelectedCity($event, 'middle', i)"
          ></city-autocomplete>
          <button mat-icon-button class="middle-point-remove-btn" (click)="removeMiddlePoint(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="add-middle-point-btn-wrapper">
    <button mat-button (click)="addMiddlePointForm()">Dodaj punkt pośredni
        <mat-icon>add</mat-icon>
    </button>
    </div>

    <city-autocomplete
      label="Koniec trasy"
      placeholder="Wybierz miasto końcowe"
      [control]="toFormControl"
      [cityOptions$]="filteredToCities$"
      (optionSelected)="handleSelectedCity($event, 'end')">
    </city-autocomplete>

    <div>
      <route-summary [route]="routeResponse"></route-summary>
    </div>
    <div class="panel-actions">
      <button mat-raised-button color="primary" (click)="findRoute(); findRouteWithAI()" >Znajdź trasę</button>
    </div>
  </form>
</div>

<button mat-fab
        class="open-assistant-fab"
        (click)="isAssistantOpen = !isAssistantOpen"
        aria-label="Otwórz asystenta AI">
  <mat-icon>chat</mat-icon>
</button>
<assistant-panel
  class="assistant-drawer"
  #assistantPanelRef
  [hidden]="!isAssistantOpen"
  [history]="chatHistory"
  (historyUpdate)="chatHistory = $event"
  (closed)="isAssistantOpen = false"
  (opened)="isAssistantOpen = true">
</assistant-panel>
