<leaflet-map #leafletMap
             (fromSelected)="onLocationPicked($event, true)"
             (toSelected)="onLocationPicked($event, false)"
             (fromMoved)="onLocationPicked($event, true)"
              (toMoved)="onLocationPicked($event, false)"
>
</leaflet-map>

<div class="planner-panel">
  <div class="panel-header">
    <h2>Zaplanuj podróż</h2>
  </div>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Z:</mat-label>
    <input matInput [formControl]="fromControl" [matAutocomplete]="autoFrom" placeholder="Wpisz miejsce początkowe" autocomplete="off"/>
    <mat-autocomplete #autoFrom="matAutocomplete"  (optionSelected)="onCitySelected($event, true)" >
      <mat-option *ngFor="let city of filteredFromCities$ | async" [value]="city">
        {{ city }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Do:</mat-label>
    <input matInput [formControl]="toControl" [matAutocomplete]="autoTo" placeholder="Wpisz miejsce docelowe" autocomplete="off"/>
    <mat-autocomplete #autoTo="matAutocomplete"  (optionSelected)="onCitySelected($event, false)" >
      <mat-option *ngFor="let city of filteredToCities$ | async" [value]="city">
        {{ city }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="panel-section">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Kiedy:</mat-label>
      <input matInput type="datetime-local" id="when" />
    </mat-form-field>
  </div>

  <div class="panel-actions">
    <button mat-raised-button color="primary" (click)="findRoute()" >Znajdź trasę</button>
  </div>
</div>
